        :root{
          --text-green: #1e3435;
          --text-gray: #8e8e8e;
          --light-green: #58d093;
          --light-green-shadow: #3c9066;
          --dark-green: #425a5a;
          --dark-green-shadow: #1e3435;      
          --input-text: #ababab;
          --input-bg: #e6e6e6;    
        }

        @media only screen and (max-width: 576px) { 

          .slider{
            text-align: center;
          }

          .slider-content{
            padding: 15px !important;
          }

          .slider-image{
            width: 36% !important;
            margin-left: 32%;
          }

          .welcome h1{
            font-size: 40px !important;
          }      

          .app .app-body{
            padding-bottom: 10px;
            text-align: center;
          }

          .pricing-nav {
            width: 100%;
          }

          .circle {
            margin-left: 35% !important;
          }

        }   

        body{
          background-image: url("../image/noise.png");
          color: var(--text-green);
        }

        header{
          background-image: url("../image/header.png");
          height: 595px;
        }

        footer{
          background-image: url("../image/footer.png");
          height: 113px;
        }

        .container-xxl{          
          max-width: 1240px;          
        }

        .container-xs{       
          margin: auto;   
          max-width: 550px;          
        }    

        .button{
          color: #ffffff;
          padding: 8px 20px 8px 20px;
          border-radius: 6px;
          border: 0px;
          width: 140px;
        }

        .button-green{
          background-color: var(--light-green);
          box-shadow: 0px 2px 0px var(--light-green-shadow);
        }

        .button-green:hover{
          background-color: var(--dark-green);
          box-shadow: 0px 2px 0px var(--dark-green-shadow);
          transition: 0.5s;
        } 

        .button-green-dark{
          background-color: var(--dark-green);
          box-shadow: 0px 2px 0px var(--dark-green-shadow);
        }

        .button-green-dark:hover{
          background-color: var(--light-green);
          box-shadow: 0px 2px 0px var(--light-green-shadow);
          transition: 0.5s;
        }      

        .line{
          width: 70%;
          border: 1px solid var(--text-gray);
          margin: auto;
        }   

        .clear{
          clear: both;
        }

        .text{
          color: var(--text-gray);
        }

        .text-active{
          color: #ffffff;
        }

        .input{
          background-color: var(--input-bg);
          color: var(--input-text);
          border-radius: 5px;
          border: 0px;
          height: 50px;
          padding-left: 20px;
          margin-bottom: 20px;
          margin-left: 2px;
          width: 100%;
        }

        .textarea{
          height: 170px;
          padding: 10px;
        }


        /* SLIDER SECTION */
        header .slider{
          color: #ffffff;
        }

        header .slider-content{
          padding: 115px 150px 0px 160px;
        }

        header .slider-image{
          max-width: 100%;
          height: auto;
        }      

        /* WELCOME SECTION */
        .welcome{
          text-align: center;
          padding-top: 150px;
          padding-bottom: 70px;
        }

        .welcome h1{
          font-size: 60px;
        }

        .welcome p{
          font-size: 20px;
          margin: 0px;
        }


        /* APPLICATION SECTION */
        .app{
          background-color: #f0f2f3;
          padding-top: 70px;
          padding-bottom: 70px;
        }

        .app .app-body{
          padding-top: 70px;
        }


        /* FEATURE SECTION */
        .feature{
          padding-top: 70px;
          padding-bottom: 40px;
        }

        .feature ul li i{
          padding-bottom: 30px;
        }
        
        .feature ul li h3{
          padding-top: 20px;
        }

        .feature ul li p{
          color: var(--text-gray);
        }

        .feature-icons:hover{
          color: var(--light-green);
        }


        /* PROFILE SECTION */
        .profile{
          padding-bottom: 70px;
          text-align: center;
          font-size: 20px;
        }

        .profile .profile-name{
          padding-top: 10px;
          padding-bottom: 20px;
        }

        .profile .profile-right {
          display: block;
          float: right;        
        }

        .profile .profile-left{
          display: block;
          float: left;
          margin-right: 10px;
          margin-bottom: 10px;
        }

        .profile p{
          padding-left: 30px;
          padding-right: 30px;
        }    



        /* PRICING SECTION */
        .pricing{
          padding-bottom: 70px;
        }

        .pricing .pricing-descr{
          padding-left: 40px;
          padding-right: 40px;
          font-size: 20px;
          color: var(--text-gray);
        }    

        .circle{
          height: 110px;
          width: 110px;
          border-radius: 50%;
          color: #ffffff;
          margin-left: 25%;
          top: 130px;
          position: relative;
          margin-top: -100px;
        }      

        .circle-light{
          background-color: var(--light-green);
          box-shadow: 0px 4px 0px var(--light-green-shadow);
        }

        .circle-dark{
          background-color: var(--dark-green);
          box-shadow: 0px 4px 0px var(--dark-green-shadow);
        }        

        .circle i{
          font-size: 14px;
          margin-left: 8px;
        }

        .circle .pricing-cost{
          margin-top: 20px;
          font-size: 66px;
          margin-left: -5px;
        }

        .circle .pricing-period{
          margin-top: -32px;
          margin-left: 54px;
          font-size: 14px;
          display: block;
        }        

        .pricing-table{
          margin-top: 70px;
          box-shadow: 0px 0px 4px var(--text-gray);
        }

        .pricing-table ul{
          list-style: none;
          text-align: center;
          padding-left:0px;
        }

        .pricing-table ul li{
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 0px;
          border-bottom: 1px solid #cccccc;
          width: 100%;
          color: var(--text-gray);
        }

        .pricing-table ul li h3{
          color: #ffffff;
        }        

        .pricing-table .head-price{
            background-image: url("../image/price-bg.png");
            background-repeat: repeat-x;
            padding: 0px;
            height: 135px;
            min-width: 270px;
            width: 100%;
            padding-top: 70px;
        }

        .pricing-table .head-price-active{
            background-image: url("../image/price-bg-light.png");
        }

        .pricing-table .purchase{
            border-bottom: 0px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .text-tiny{
          font-size: 15px;
          top: -17px;
          position: relative;
        }


        /* CONTCT-US SECTION */
        .contact-us{
          padding-bottom: 70px;
        }

        /* FOOTER SECTION */
        .footer-logo{
          padding-top: 20px;
          float: left;
        }

        .social{
          padding-top: 40px;
          float: right;
        }

        .social ul li{
          background-image: url("../image/social.png");
          background-repeat: no-repeat;
          width: 45px; 
          height: 45px;   
          margin-left: 10px; 
        }

        .facebook{
          background-position: 0px 0px;
        }

        .twitter{
          background-position: -70px 0px;
        }

        .google{
          background-position: -144px 0px;
        }
